<a href="/"><img src="http://3.bp.blogspot.com/-h0LmXnazAQI/Tee5QD2FFQI/AAAAAAAAAAk/D3NutduIps8/s760/logo.jpg"></img></a>
<h2>Bienvenido a la zona de las trabajadoras</h2>

<a href="/trabajadoras/new">Nueva trabajadora</a><br>
<a href="/trabajadoras/all">Todas las trabajadoras</a>
