<a href="/"><img src="http://3.bp.blogspot.com/-h0LmXnazAQI/Tee5QD2FFQI/AAAAAAAAAAk/D3NutduIps8/s760/logo.jpg"></img></a>
<h2>Bienvenido a la zona de los clientes</h2>

<a href="/clientes/new">Nuevo cliente</a><br>
<a href="/clientes/all">Todos los clientes</a>
