<a href="/"><img src="http://3.bp.blogspot.com/-h0LmXnazAQI/Tee5QD2FFQI/AAAAAAAAAAk/D3NutduIps8/s760/logo.jpg"></img></a><br><br><br>
{% block contenido %}

<h1>Nuevo cliente</h1>

		<div id="contenedorForm">
			{{form(formClientes)}}
		</div>

{% endblock %}

<br><a href="/clientes">Volver a clientes</a><br>
